* {
	margin: 0;
	padding: 0 5px;
	box-sizing: border-box;
  
}

header {
  background-color: #3a4194;
  padding: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-content img {
  margin-right: 1rem;
}
#menu {
 
  border: 3px;
  background: none;
  color: #000;
  position: absolute;
  top: 2rem;
  right: 1rem;
  
}
.navigation {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

.navigation a {
  text-decoration: none;
  color: white;
  padding: 1rem 2rem;
  transition: background-color 0.3s;
}

.navigation a:hover {
  background-color: #21a760;
}

.active::before {
  content: "📷";
}


#hero-img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem; /* Espacio vertical entre los elementos */
}

body {
  font-family: 'Arial', sans-serif;
  background-color: white;
  color: #333;
  margin: 0;
  padding: 0;
  


}


.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #21a760; 
  color: white; 
  text-decoration: none; 
  border-radius: 5px; 
  font-weight: bold; 
  transition: background-color 0.3s;
  position: absolute;
  top: 160px; /* Ajusta la distancia desde la parte superior */
  left: 40px; /* Ajusta la distancia desde la izquierda */ 
}

.cta-button:hover {
  background-color: #176946; 
}

main {
  margin-top: 0;
  margin: 0 auto;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
  -webkit-backdrop-filter: blur(22px);
  backdrop-filter: blur(22px);
  border: 1px solid rgba(128, 228, 51, 0.3);
}
  




.card-container,
.card-container1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  border-radius: 10px;
  margin-bottom: 2rem; /* Espacio vertical entre los elementos */

}


.card {
  flex: 2;
  background-color:  #dcdcdc;
  padding: 20px;
  border-radius: 8px;
  list-style: none; /* Quita las viñetas de la lista */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Agrega sombra */


}

.card h2 {
  color: white;
  background-color: #3a4194; /* Color de fondo más oscuro */
  margin-top: 0;
  padding: 10px 20px;
}

.card1 {
  flex: 1;
  background-color:  #dcdcdc;
  padding: 20px;
  border-radius: 8px;
  list-style: none; /* Quita las viñetas de la lista */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Agrega sombra */


}

.card2,
.card3,
.card4 {
  flex: 1;
  background-color:  #dcdcdc;
  padding: 20px;
  border-radius: 8px;
  list-style: none; /* Quita las viñetas de la lista */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Agrega sombra */

}

.card1 h2,  .card2 h2, .card3 h2, .card4 h2{
  color: white;
  background-color: #3a4194; /* Color de fondo más oscuro */
  margin-top: 0;
  padding: 10px 20px;
}



footer {
  background-color: #3a4194;
  text-align: center;
  padding: 40px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;

}

.main-container2 {
  display: flex;
  
}

.left-section {
  flex: 1;
  width: 20%;
  border-radius: 8px;
  list-style: none; /* Quita las viñetas de la lista */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Agrega sombra */
  
}

.left-section h2{
  color: white;
  background-color: #3a4194; /* Color de fondo más oscuro */
  margin-top: 0;
  padding: 10px 20px;
}

.right-section {
  flex: 4;
  width: 80%;
  overflow: hidden; /* Para asegurarse de que la imagen se ajuste correctamente */
}

.right-section img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Esto asegurará que la imagen se ajuste a la sección correctamente */
}



.left-section {
  flex: 1;
  width: 80%;
  border-radius: 8px;
  list-style: none; /* Quita las viñetas de la lista */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Agrega sombra */
  
}

.right-section {
  flex: 4;
  width: 80%;
  overflow: hidden; /* Para asegurarse de que la imagen se ajuste correctamente */
}

.right-section img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Esto asegurará que la imagen se ajuste a la sección correctamente */
}

/* Estilos añadidos */




.stdlf {
	font-weight: 700;
  border-bottom: 1px solid #777;
   margin-bottom: 1rem;
}

.img1 {background-color:#fff;
}
.img1 {  
 
  margin: .5rem;
  width: 100%;
	height: 100%;
	object-fit: cover;
}

figcaption {font-size: smaller;}
/* hover effect */
.hover:hover {box-shadow: 0 0 50px #333;}
/* rounded corners - boxmodel */


.rocorn {border-radius: 15px 150px;}
/* simple opacity */

.opac {opacity: .5;}

.blur {filter: blur(4px);}

.gray {filter: blur(1px) grayscale(50%);}


.contrast {filter: contrast(50%);}

.saturate {filter: saturate(50%);}


/*join*/

h3{
  color: white;
  font-size: 2rem;
  text-align: center
}

.membership{
  color:white;
}
.asterisk{
  color:white;
}
.join-page-body section {
    padding: 3em 2em;
}

.join-page-body .join-cta-text {
    font-style: italic;
   color: white;
    border-radius: 5px;
    padding: 1em 1.5em;
}

.form-container {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 2rem;
  
}

.form-container .svg-box {
    width: 70%;
}

.form-container .svg-box img {
    width: 100%;
    height: 80%;
}

.form-container form {
      width: 100%;
    padding-inline: 1em;
    padding-block-start: .75em;
    padding-block-end: 1.5em;
    border-radius: .5rem;

    display: grid;
}

.form-container form label.top {
    display: block;
    margin-block-start: 2.5rem;
    color:white
    
}

.form-container form div,
.side-by-side {
    display: block;
}

.form-container form div {
    margin-block-start: 2.5rem;
    /* margin-block-end: .5rem; */
}

.side-by-side {
    padding-block-start: 1rem;
    display: flex;
    align-items: center;
    gap: 3px;
    color: white;
}

.form-container input[type="radio"] {
    width: 2rem;
    height: 2rem;
}




.form-container form input:not([type="radio"]) {
    width: 100%;
    max-width: 35rem;
    height: 4.4rem;
    
}

.form-container form label.top input:required {
    outline: 1px solid ;
    
}

.form-container form label.top input:required:valid {
    outline-color: lime;
}

.form-container textarea {
    resize: vertical;
    width: 100%;
    max-width: 35rem;
}

.form-container form input:not([type="radio"]),
.form-container form textarea {
    display: block;
    color: #555;
    font-size: max(1.8rem, 1em);
    padding: 0.25em 0.5em;
    border: 2px solid ;
    border-radius: 4px;
}

.form-container form input:not(textarea) {
    line-height: 1;
}

.form-container form input:focus:not([type="radio"]),
.form-container form textarea:focus {
    border-color: black;
    box-shadow: 0 0 0 3px hsla(245, 100%, calc(42% + 40%), 0.8);
    outline: 3px solid transparent;
    transition: 180ms box-shadow ease-in-out;
}

.form-container form input[type="submit"] {
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
    padding-block: .75rem;
    padding-inline: 1.5rem;


}

.benefits-box div {
    background-color: #fff;
    width: 80%;
    padding-block: 1.5em;
    padding-inline: 1.5em;
    border-radius: 1rem;
    margin: 0 auto;
    color: black;
}

.benefits-box h2 {
    font-size: 2rem;
 
    text-align: center;
    margin-block-end: 1rem;
}

.benefits-box ul {
    list-style: none;
    margin-inline-start: 1.5rem;
}

.benefits-box ul ::marker {
    content: "✓ ";
}

.thankyou-page-body section p {
    font-size: 2rem;
    background-color: #fff;
    padding: 1em 0.75em;
}


.main1 {
  margin-top: 0;
  margin: 0 auto;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
  -webkit-backdrop-filter: blur(22px);
  backdrop-filter: blur(22px);
  border: 1px solid rgba(128, 228, 51, 0.3);
  background-color: #1a237e; /* Azul profundo */}

  .form-container form label.top {
    color: white;
}

.form-container form input[type="submit"] {
    background-color: purple;
}

.intro-section {
  text-align: center;
  padding-inline: 1em;
}

/*directory*/
.main2 {
  margin-top: 0;
  margin: 0 auto;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
  -webkit-backdrop-filter: blur(22px);
  backdrop-filter: blur(22px);
  border: 1px solid rgba(128, 228, 51, 0.3);
}

  .menu1 {
    border: 1px solid rgba(19, 52, 213, 0.1);
    padding: 0.5rem;
    background-color: rgb(38, 35, 202);
    text-align: center;
  }
  
  .menu1 button {
    padding: 1rem;
    font-weight: 700;
  }
  
  section1 {
    border: 1px solid rgba(81, 173, 39, 0.1);
    padding: 0.5rem;
    background-color: #92A5A7;
  }
  
  #cards {
    display: grid;
    grid-gap: 5px;
    align-items: center;
  }
  
  #cards section1 {
    text-align: center;
  }
  
  #cards img {
    border: 1px solid #fff;
    box-shadow: 0 0 10px #333;
  }
  
  #cards section1 > * {
    margin: 0.1rem;
  }
  
  #cards h3 {
    font-family: "Caveat", cursive;
  }
  
  
  
  .list-directory p {
    display: none;
  }
  .list-directory section {
    display: grid;
    gap: 10px;
    padding: 0.25rem;
    width: 100%;
  }
  
  .list-directory section1 > * {
    margin: 0 1rem;
  }
  
  .list-directory section1 img {
    display: none; /* smaller viewports only */
  }
  
  .list-directory section1 h3 {
    font-size: 1rem;
    font-family: Roboto, Helvetica, sans-serif;
  }
  
  .list-directory section1:nth-child(even) {
    background-color: rgb(197, 197, 197);
  }
  
  section1 h3 {
    font-size: 1.5rem;
  }
  
  section1 p {
    font-weight: 600;
    font-size: smaller;
  }
  
  section1 a {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 0.85rem;
    color: navy;
    letter-spacing: 1.1pt;
  }
  
  img {
    height: 75px;
    max-width: 100%;
  }
  